<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">

<SCRIPT LANGUAGE="JavaScript">
<!--
function Dsy()
{
 this.Items = {};
}
Dsy.prototype.add = function(id,iArray)
{
 this.Items[id] = iArray;
}
Dsy.prototype.Exists = function(id)
{
 if(typeof(this.Items[id]) == "undefined") 
  return false;
 return true;
}
function change(v)
{
 var str="0";
 for(i=0;i<v;i++)
 { 
  str+=("_"+(document.getElementById(s[i]).selectedIndex-1));
 };
 var ss=document.getElementById(s[v]);
 with(ss)
 {
  
  length = 0;
  options[0]=new Option(opt0[v],opt0[v]);
  if(v && document.getElementById(s[v-1]).selectedIndex>0 || !v)
  {
   if(dsy.Exists(str))
   {
    ar = dsy.Items[str];
    for(i=0;i<ar.length;i++)
     options[length]=new Option(ar[i],ar[i]);
    if(v)
     options[1].selected = true;
   }
  }
  if(++v<s.length)
  {
   change(v);
  }
 }
}
var dsy = new Dsy();
dsy.add("0",["农产品","贵金属","有色金属","化工品","黑金属","能源","金融衍生品"]);
dsy.add("0_0",["A.DCE","B.DCE","C.DCE","CF.CZC ","JD.DCE","M.DCE","P.DCE","OI.CZC","RM.CZC","SR.CZC","Y.DCE","CS.DCE","CY.CZC","AP.CZC"]);
dsy.add("0_1",["AU.SHF","AG.SHF"]);
dsy.add("0_2",["NI.SHF","AL.SHF","CU.SHF","PB.SHF","SN.SHF","ZN.SHF"]);
dsy.add("0_3",["RU.SHF","BU.SHF","FG.CZC","L.DCE","MA.CZC","PP.DCE","TA.CZC","V.DCE"]);
dsy.add("0_4",["I","HC","J","JM","RB","SF","SM","ZC"]);
dsy.add("0_4_0",["PB粉","PB粉矿","PB块","PB块矿","阿特拉斯粉","阿特拉斯粉矿","磁铁矿","粗粉","粉矿","国产铁矿石","海砂","火箭特粉","进口铁矿石","精粉","卡拉加斯粉","块矿","罗布河粉","麦克粉","纽曼粉","纽曼粉矿","普利粉","球团矿","特粉","铁精粉","杨迪粉","杨迪粉矿","原矿"]);
dsy.add("0_4_1",["热轧普通薄板" ,"热轧板卷" ,"热卷" ,"热轧卷板"]);
dsy.add("0_4_2",["BOCE焦炭" ,"冶金焦" ,"二级冶金焦" ,"一级冶金焦" ,"准一级冶金焦" ,"三级冶金焦"]);
dsy.add("0_4_3",["主焦煤" ,"焦煤" ,"中低挥发分硬焦煤" ,"优质低挥发硬焦煤" ,"峰景矿硬焦煤" ,"炼焦煤", "气煤" ,"1/3焦煤" ,"肥煤" ,"十级精煤" ,"十级焦煤" ,"九级焦煤" ,"九级1/3焦煤" ,"瘦煤" ,"弱粘煤" ,"贫瘦煤" ,"贫煤" ,"长焰煤" ,"4号焦煤" ,"2号焦煤" ,"2号肥煤" ,"瘦精煤" ,"气精煤" ,"焦精煤" ,"肥精煤" ,"1/3焦精煤" ,"喷吹煤" ,"气肥煤" ,"气块煤" ,"气混煤" ,"主焦精煤"]);
dsy.add("0_4_4",["BOCE螺纹钢" ,"螺纹钢" ]);
dsy.add("0_4_5",["硅铁" ,"稀土硅铁" ,"低铝硅铁"]);
dsy.add("0_4_6",["硅锰"]);
{dsy.add("0_4_0_0",["曹妃甸港,澳大利亚" ,"江阴港,澳大利亚" ,"京唐港,澳大利亚" ,"罗泾港,澳大利亚" ,"南通港,澳大利亚" ,"太仓港,澳大利亚" ,"镇江港,澳大利亚" ]);
dsy.add("0_4_0_1",["曹妃甸港,澳大利亚" ,"防城港,澳大利亚" ,"江阴港,澳大利亚" ,"京唐港,澳大利亚" ,"连云港,澳大利亚" ,"南通港,澳大利亚" ,"青岛港,澳大利亚" ,"日照港,澳大利亚" ,"太仓港,澳大利亚" ,"天津港,澳大利亚" ,"湛江港,澳大利亚" ,"镇江港,澳大利亚" ]);
dsy.add("0_4_0_2",["曹妃甸港,澳大利亚" ,"江阴港,澳大利亚" ,"京唐港,澳大利亚" ,"罗泾港,澳大利亚" ,"南通港,澳大利亚" ,"太仓港,澳大利亚" ,"镇江港,澳大利亚" ]);
dsy.add("0_4_0_3",["曹妃甸港,澳大利亚" ,"江阴港,澳大利亚" ,"京唐港,澳大利亚" ,"连云港,澳大利亚" ,"南通港,澳大利亚" ,"青岛港,澳大利亚" ,"日照港,澳大利亚" ,"太仓港,澳大利亚" ,"天津港,澳大利亚" ,"湛江港,澳大利亚" ,"镇江港,澳大利亚" ,"岚山港,澳大利亚" ]);
dsy.add("0_4_0_4",["曹妃甸港,澳大利亚" ,"京唐港,澳大利亚" ]);
dsy.add("0_4_0_5",["京唐港,澳大利亚" ]);
dsy.add("0_4_0_6",["镇江港,伊朗" ]);
dsy.add("0_4_0_7",["北仑港,巴西" ,"曹妃甸港,巴西","曹妃甸港,南非" ,"防城港,巴西" ,"江阴港,巴西" ,"京唐港,南非" ,"连云港,巴西" ,"罗泾港,巴西" ,"南通港,巴西" ,"太仓港,巴西" ,"天津港,巴西" ,"镇江港,巴西" ]);
dsy.add("0_4_0_8",["曹妃甸港,印度" ,"防城港,巴西" ,"江阴港,巴西" ,"江阴港,印度" ,"京唐港,巴西" ,"京唐港,马来西亚" ,"京唐港,印度" ,"连云港,印度" ,"罗泾港,南非" ,"南通港,巴西" ,"南通港,印度" ,"青岛港,巴西" ,"青岛港,印度" ,"日照港,巴西" ,"日照港,印度" ,"太仓港,南非" ,"天津港,印度" ,"湛江港,巴西" ,"湛江港,印度" ,"湛江港,印尼" ,"镇江港,澳大利亚" ,"镇江港,巴西" ,"镇江港,印度" ,"岚山港,巴西" ,"岚山港,印度" ,"CFR青岛港(MBIOI-62%)" ,"CFR青岛港(MBIOI-58%)" ]);
dsy.add("0_4_0_10",["镇江港,印尼" ]);
dsy.add("0_4_0_11",["曹妃甸港,澳大利亚"]);
dsy.add("0_4_0_13",["防城港,乌克兰" ]);
dsy.add("0_4_0_14",["曹妃甸港,巴西" ,"防城港,巴西" ,"京唐港,巴西" ,"连云港,巴西" ,"罗泾港,巴西" ,"南通港,巴西" ,"青岛港,巴西" ,"太仓港,巴西" ,"天津港,巴西" ,"镇江港,巴西" ]);
dsy.add("0_4_0_15",["曹妃甸港,巴西" ,"曹妃甸港,南非" ,"防城港,巴西" ,"防城港,印尼" ,"京唐港,巴西" ,"京唐港,南非" ,"罗泾港,巴西" ,"南通港,巴西" ,"太仓港,巴西" ,"镇江港,巴西" ,"岚山港,巴西" ]);
dsy.add("0_4_0_16",["妃甸港,澳大利亚" ,"京唐港,澳大利亚" ,"罗泾港,澳大利亚" ,"青岛港,澳大利亚" ,"日照港,澳大利亚" ,"天津港,澳大利亚" ]);
dsy.add("0_4_0_17",["曹妃甸港,澳大利亚" ,"江阴港,澳大利亚" ,"京唐港,澳大利亚" ,"连云港,澳大利亚" ,"罗泾港,澳大利亚" ,"南通港,澳大利亚" ,"青岛港,澳大利亚" ,"日照港,澳大利亚" ,"太仓港,澳大利亚" ,"天津港,澳大利亚" ,"镇江港,澳大利亚"]);
dsy.add("0_4_0_18",["曹妃甸港,澳大利亚" ,"江阴港,澳大利亚" ,"连云港,澳大利亚" ,"罗泾港,澳大利亚" ,"南通港,澳大利亚" ,"青岛港,澳大利亚" ,"太仓港,澳大利亚" ,"天津港,澳大利亚" ,"镇江港,澳大利亚"]);
dsy.add("0_4_0_19",["曹妃甸港,澳大利亚" ,"京唐港,澳大利亚" ,"日照港,澳大利亚" ,"太仓港,澳大利亚" ]);
dsy.add("0_4_0_20",["曹妃甸港,澳大利亚" ,"京唐港,澳大利亚"]);
dsy.add("0_4_0_21",["徐州" ,"淄博" ,"沂水" ,"鄂州" ,"沙河" ,"承德" ,"铜陵" ,"繁昌" ,"迁安" ,"CFR青岛港" ]);
dsy.add("0_4_0_22",["太仓港,澳大利亚"]);
dsy.add("0_4_0_23",["唐山" ,"灵丘" ,"建平" ,"朝阳" ,"北票" ,"抚顺" ,"津西钢铁" ,"承钢" ,"遵化" ,"通化" ,"迁西" ,"迁安" ,"黎城" ,"北京" ,"邯钢" ,"邯邢" ,"通钢" ,"凌钢" ,"泰安" ,"鞍山宝得" ,"营口" ,"清徐" ,"娄烦" ,"辽阳" ,"海城" ,"固阳" ,"繁峙" ,"丹东" ,"代县" ,"本溪" ,"鞍山" ,"本钢" ,"涟钢" ,"福建三明" ,"淄博" ,"沂水" ,"铜陵" ,"庐江" ,"霍邱" ,"怀集" ,"繁昌" ,"承德" ,"新抚钢" ,"马钢" ,"北台" ,"莱钢" ,"涞源" ,"武安" ,"沙河" ,"柳钢" ,"马鞍山" ,"莱芜" ,"河源" ,"济钢" ,"大冶" ,"昌江" ,"昆钢" ,"韶关" ]);
dsy.add("0_4_0_24",["曹妃甸港,澳大利亚" ,"江阴港,澳大利亚" ,"京唐港,澳大利亚" ,"连云港,澳大利亚" ,"罗泾港,澳大利亚" ,"南通港,澳大利亚" ,"青岛港,澳大利亚" ,"日照港,澳大利亚" ,"太仓港,澳大利亚" ,"天津港,澳大利亚" ,"镇江港,澳大利亚"]);
dsy.add("0_4_0_25",["京唐港,澳大利亚" ,"南通港,澳大利亚" ]);
dsy.add("0_4_0_26",["本溪" ,"抚顺" ,"涞源" ,"沙河" ,"辽阳" ,"朝阳" ,"唐山"]);
}
{dsy.add("0_4_1_0",["全国"]);
dsy.add("0_4_1_1",["日本" ,"美国" ,"独联体", "重庆" ,"郑州", "西安" ,"武汉" ,"无锡" ,"乌鲁木齐" ,"天津" ,"太原" ,"石家庄" ,"沈阳" ,"上海" ,"全国","南宁" ,"南京" ,"南昌" ,"兰州" ,"昆明" ,"济南" ,"合肥" ,"杭州" ,"哈尔滨" ,"贵阳" ,"广州" ,"福州" ,"成都" ,"长沙" ,"长春" ,"北京" ,"包头" ,"广州鞍钢", "乐从" ,"邯郸","郑州太钢" ,"上海沙钢", "广州本钢" ,"广州沙钢" ,"上海日钢" ,"广州涟钢" ,"郑州邯宝" ,"上海涟钢"]);
dsy.add("0_4_1_2",["中国" ,"土耳其" ,"日本", "欧盟" ,"美国" ,"独联体"]);
}
{dsy.add("0_4_2_1",["印度到岸"]);
dsy.add("0_4_2_2",["唐山","邯郸","淄博","银川","徐州","新绛","双鸭山","齐齐哈尔","攀枝花","牡丹江","吕梁","临沂" ,"临汾","天津港" ,"云南" ,"贵州" ,"宁夏" ,"安徽" ,"山西" ,"湖南" ,"江苏" ,"河北" ,"山东" ,"天津", "乌海" ,"石家庄" ,"上海" ,"抚顺" ,"晋中" ,"韩城" ,"阜康" ,"鄂尔多斯" ,"安阳" ,"潍坊" ,"七台河" ,"淮北" ,"河津" ,"长治" ,"内蒙古" ,"河南" ,"黑龙江" ,"陕西"]);
dsy.add("0_4_2_3",["天津港" ,"河北" ,"福建" ,"辽宁", "山东" ,"连云港" ,"山西" ,"安徽"]);
dsy.add("0_4_2_4",["天津港" ,"沈阳" ,"抚顺" ,"邢台" ,"吕梁" ,"辽阳" ,"淮北"]);
dsy.add("0_4_2_5",["云南"]);
}
{dsy.add("0_4_3_0",["黑龙江产营口港" ,"澳大利亚产天津港" ,"山西" ,"澳大利亚产日照港" ,"澳大利亚产青岛港" ,"邢台" ,"山西产连云港" ,"澳大利亚产连云港" ,"澳大利亚产京唐港" ,"山西产京唐港" ,"河北产京唐港" ,"河南平顶山" ,"宁夏" ,"青海" ,"河南" ,"黑龙江" ,"安徽" ,"贵州" ,"江西" ,"内蒙古" ,"河北"]);
dsy.add("0_4_3_1",["澳大利亚产营口港" ,"吕梁孝义" ,"长治沁源" ,"晋中平遥" ,"吕梁离石" ,"临汾古县" ,"甘其毛道"]);
dsy.add("0_4_3_2",["中国到岸"]);
dsy.add("0_4_3_3",["中国到岸"]);
dsy.add("0_4_3_4",["中国到岸"]);
dsy.add("0_4_3_5",["日本"]);
dsy.add("0_4_3_6",["印尼产天津港" ,"朔州怀仁" ,"朔州" ,"吕梁兴县" ,"忻州保德" ,"忻州静乐" ,"朔州右玉" ,"忻州宁武" ,"朔州山阴" ,"山东临沂" ,"辽宁抚顺"]);
dsy.add("0_4_3_7",["美国产天津港" ,"澳大利亚产天津港" ,"淮南" ,"新疆乌鲁木齐" ,"临汾洪洞" ,"临汾蒲县" ,"忻州宁武" ,"临汾霍州" ,"俄罗斯产京唐港" ,"澳大利亚产京唐港" ,"山西产京唐港" ,"山西" ,"黑龙江" ,"山东" ,"宁夏" ,"安徽" ,"江苏" ,"河南" ,"贵州" ,"内蒙古" ,"安徽淮南" ,"河北" ,"策克口岸"]);
dsy.add("0_4_3_8",["临汾产日照港" ,"临汾霍州" ,"临汾汾西" ,"临汾蒲县" ,"临汾洪洞" ,"安徽" ,"河北" ,"山西"]);
dsy.add("0_4_3_9",["平顶山"]);
dsy.add("0_4_3_10",["太原" ,"开滦"]);
dsy.add("0_4_3_11",["临汾" ]);
dsy.add("0_4_3_12",["淮北"]);
dsy.add("0_4_3_13",["俄罗斯产连云港" ,"运城平陆" ,"长治长治县" ,"长治长治郊区" ,"长治襄垣" ,"长治沁源" ,"运城河津" ,"太原"]);
dsy.add("0_4_3_14",["大同新荣" ,"大同大同矿区" ,"大同左云" ,"大同" ,"大同大同南郊"]);
dsy.add("0_4_3_15",["晋中介休" ,"长治屯留" ,"河南郑州" ,"河北邯郸"]);
dsy.add("0_4_3_16",["阳泉盂县" ,"晋中榆次" ,"阳泉平定" ,"晋中和顺" ,"长治潞城" ,"晋中左权" ,"长治长子县"]);
dsy.add("0_4_3_17",["忻州河曲" ,"大同浑源"]);
dsy.add("0_4_3_18",["吕梁柳林" ]);
dsy.add("0_4_3_19",["太原古交" ,"临汾乡宁" ]);
dsy.add("0_4_3_20",["晋中灵石"]);
dsy.add("0_4_3_21",["山西" ,"陕西韩城" ,"安徽淮北" ,"长治沁源" ,"长治长治郊区" ,"长治襄垣" ]);
dsy.add("0_4_3_22",["山西" ,"辽宁" ,"山东枣庄" ,"山东兖州" ,"黑龙江双鸭山" ,"山东泰安" ]);
dsy.add("0_4_3_23",["山西" ,"黑龙江" ,"云南宣威" ,"贵州水城" ,"河北石家庄" ,"河北邯郸" ,"河北开滦" ,"河北唐山" ,"河北邢台" ,"安徽淮北" ,"四川攀枝花" ,"黑龙江鸡西" ,"黑龙江七台河" ,"江西萍乡" ,"吕梁孝义" ,"晋中平遥" ,"临汾古县" ,"长治沁源" ,"吕梁离石" ]);
dsy.add("0_4_3_24",["山西" ,"河北" ,"河北开滦" ,"河北邯郸" ,"山东枣庄" ,"安徽淮北" ,"黑龙江七台河" ,"黑龙江鸡西" ,"临汾霍州" ,"临汾"]);
dsy.add("0_4_3_25",["山西" ,"盘县" ,"山东" ,"黑龙江" ,"河南平顶山" ,"云南富源" ,"河北开滦" ,"河北唐山" ,"安徽淮北" ,"黑龙江双鸭山" ,"山东枣庄" ,"河北邢台" ,"黑龙江七台河" ,"黑龙江鹤岗" ,"云南昆明" ,"安徽宿州" ,"江西萍乡" ,"临汾洪洞" ,"临汾蒲县" ,"临汾"]);
dsy.add("0_4_3_26",["山西"]);
dsy.add("0_4_3_27",["山东滕州" ,"山东济宁"]);
dsy.add("0_4_3_28",["山东淄博"]);
dsy.add("0_4_3_29",["山东济宁" ]);
dsy.add("0_4_3_30",["临汾" ]);
}
{dsy.add("0_4_4_0",["重庆" ,"西部" ,"无锡" ,"太原" ,"沈阳" ,"山东" ,"川威" ,"赤峰"]);
dsy.add("0_4_4_1",["中国" ,"土耳其" ,"独联体" ,"日本" ,"欧盟" ,"美国"]);
}
{dsy.add("0_4_5_0",["天津港" ,"西北" ,"俄罗斯" ,"河北" ,"天津" ,"甘肃,兰州" ,"甘肃,白银" ,"青海,西宁" ,
"青海,海东" ,"宁夏,银川" ,"宁夏,石嘴山" ,"宁夏,中卫" ,"内蒙古,鄂尔多斯" ,"内蒙古,包头" ,"内蒙古,乌海" ,"河南"]);
dsy.add("0_4_5_1",["内蒙古" ,"宁夏" ,"四川" ,"河南"]);
dsy.add("0_4_5_2",["宁夏"]);
}
dsy.add("0_5",["SC.INE"]);
dsy.add("0_6",["IC.CFE","IF.CFE","IH.CFE","TF.CFE","T.CFE"])
</SCRIPT>
<SCRIPT LANGUAGE = JavaScript>

var s=["s1","s2","s3","s4"];
var opt0 = ["分类","合约代码","空","空"];
function setup()
{
 for(i=0;i<s.length-1;i++)
  document.getElementById(s[i]).onchange=new Function("change("+(i+1)+")");
 change(0);
}

</SCRIPT>
<body bgcolor="#E0E0E0" onLoad="setup()">
<h1>查询</h1>
<form  method="POST">
	{{form.hidden_tag()}}
	<div class="control-group">
        <label class="control-label" for="code">搜索选项</label>
        <select id="s1"><option>分类</option></select>
        <select id="s2" name = "collection"><option>合约代码</option></select>
        <select id="s3" name = "code"><option>空</option></select>
		<select id="s4" name = "region"><option>空</option></select>
	</div>

	<button  class="btn btn-primary" type="submit"  value="Post">search</button>
</form>


{% endblock %}