<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<h1>回测</h1>

<form action="/paramInput" method="post" name="paramInput"  class="form-horizontal">
<div class="container-fluid">
    <!--<form class="form-horizontal" method="POST">-->

            <legend>输入测试参数</legend>
            
            <div class="control-group">
                <label class="control-label" for="code">合约代码</label>
                <select name="people_num" class="selectpicker show-tick" data-size="5">
                    <option></option>
                    <option>A.DCE</option>
                    <option>AG.SHF</option>
                    <option>AL.SHF</option>
                    <option>AU.SHF</option>
                    <option>B.DCE</option>
                    <option>BB.DCE</option>
                    <option>BU.SHF</option>
                    <option>C.DCE</option>
                    <option>CF.CZC</option>
                    <option>CS.DCE</option>
                    <option>CU.SHF</option>
                    <option>FB.DCE</option>
                    <option>FG.CZC</option>
                    <option>FU.SHF</option>
                    <option>HC.SHF</option>
                    <option>I.DCE</option>
                    <option>J.DCE</option>
                    <option>JD.DCE</option>
                    <option>JM.DCE</option>
                    <option>JR.CZC</option>
                    <option>L.DCE</option>
                    <option>LR.CZC</option>
                    <option>M.DCE</option>
                    <option>MA.CZC</option>
                    <option>NI.SHF</option>
                    <option>OI.CZC</option>
                    <option>P.DCE</option>
                    <option>PB.SHF</option>
                    <option>PM.CZC</option>
                    <option>PP.DCE</option>
                    <option>RB.SHF</option>
                    <option>RI.CZC</option>
                    <option>RM.CZC</option>
                    <option>RS.CZC</option>
                    <option>RU.SHF</option>
                    <option>SF.CZC</option>
                    <option>SM.CZC</option>
                    <option>SN.SHF</option>
                    <option>SR.CZC</option>
                    <option>TA.CZC</option>
                    <option>V.DCE</option>
                    <option>WH.CZC</option>
                    <option>Y.DCE</option>
                    <option>ZC.CZC</option>
                    <option>ZN.SHF</option>
                    <option>WR.SHF</option>
                </select>

            </div>



            <div class="control-group">
                <label class="control-label" for="price">对冲价格</label>
                <div class="controls">
                    <input type="double" class="input-xlarge" name="价格">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Volume">商品量</label>
                <div class="controls">
                    <input type="double" class="input-xlarge" name="量">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="time">Term Days</label>
                <div class="controls">
                    <input type="double" class="input-xlarge" name="time">
                </div>
            </div>
            <label class="control-label" for="type">对冲方向</label>
            <select name="type" class="selectpicker show-tick" data-size="5">
                <option>持有多头</option>
                <option>持有空头</option>
                <option></option>
            </select>
</div>
</form>

<!--<button id="start-bg-job">Start Long Calculation</button><br><br>-->
<!--<div id="progress"></div>-->
<div class="form-actions">
        <button type="submit" class="btn btn-primary" id="start-bg-job" value="Post">展示计划</button>
        <div id="progress"></div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
        function start_long_task() {
            // add task status elements
            div = $('<div class="progress"><div></div><div>0%</div><div>...</div><div>&nbsp;</div></div><hr>');
            $('#progress').append(div);

            // create a progress bar
            var nanobar = new Nanobar({
                bg: '#44f',
                target: div[0].childNodes[0]
            });

            // send ajax POST request to start background job
            $.ajax({
                type: 'POST',
                url: '/longtask',
                success: function(data, status, request) {
                    console.log(data)
                    status_url = request.getResponseHeader('Location');
                    update_progress(status_url, nanobar, div[0]);
                },
                error: function() {
                    alert('Unexpected error');
                }
            });
        }
        function update_progress(status_url, nanobar, status_div) {
            // send GET request to status URL
            $.getJSON(status_url, function(data) {
                // update UI
                percent = parseInt(data['current'] * 100 / data['total']);
                nanobar.go(percent);
                $(status_div.childNodes[1]).text(percent + '%');
                $(status_div.childNodes[2]).text(data['status']);
                if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
                    if ('result' in data) {
                        // show result
                        $(status_div.childNodes[3]).text('Result: ' + data['result']);
                    }
                    else {
                        // something unexpected happened
                        $(status_div.childNodes[3]).text('Result: ' + data['state']);
                    }
                }
                else {
                    // rerun in 2 seconds
                    setTimeout(function() {
                        update_progress(status_url, nanobar, status_div);
                    }, 2000);
                }
            });
        }
        $(function() {
            $('#start-bg-job').click(start_long_task);
        });
</script>


  



    </form>

{% endblock %}
