<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
{% extends "base.html" %}
{% block content %}
            <header class="post-header">
                <h2 class="post-title">{{ post.title }}</h2>

                    <p class="post-meta">
                      <strong> {{ post.time}}</a> </strong>
                    </p>
            </header>

                <div class="post-description">
                    <p>
                        {{ post.content }}
                    </p>
                </div>
<form  method="POST">
	<input type="submit" value="Post" name="Post"/>
</form>
{% endblock %}
